.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.heading {
  margin: 0;

  font-family: 'Rajdhani', sans-serif;
  font-size: 5rem;
  font-weight: 500;
}

.subtitle {
  margin: 0;

  font-family: 'Rajdhani', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.main {
  width: 100%;
  max-width: 720px;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  justify-content: center;

  margin-top: 2rem;
}