.techContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 0.7rem;
}

.techCircle {
  width: 7rem;
  height: 7rem;

  display: flex;
  justify-content: center;
  align-items: center;


  background: yellow;

  border-radius: 50%;
}

.techHeading {
  margin: 0;

  font-family: 'Rajdhani', sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.techContent {
  margin: 0;

  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}